* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

/* nav-bar style */
.nav-title {
    font-weight: 800px;
    font-size: 45px;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav li {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.butt-primary {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.text-primary {
    color: #FD6E0A;
}

.banner {

    margin: 0px 200px;
    display: flex;
    align-items: center;


}

.banner-intro {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    width: 177px;
    height: 61px;
    margin-bottom: 20px;
}

.banner-more {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;

}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

    color: #757575;

}

/* main style  */
main {
    width: 1140px;
    height: 550px;
    left: 230px;
    top: 967px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;

}

.section-description {
    font-weight: 400;
    font-size: 18px;
    width: 827px;
    height: 120px;
    text-align: center;
    color: #757575;


}

.about {
    text-align: center;
    border-radius: 10px;
    padding: 130px 150px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.info-title {
    font-size: 20px;
    color: #757575;

}

.info-description {
    font-size: 20px;
    color: #474747;
    ont-weight: 700;


}

.what-i-do {
    margin-top: 130px;
    align-items: center;
}

.section2-title {
    ont-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;

}

.section2-description {
    ont-size: 18px;
    color: #757575;
    text-align: center;



}

/* css flexbox */
.skills-container {
    display: flex;
    margin-top: 50px;
    gap: 24px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skills-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}


.skills-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* style resume section */
.resume-about {
    display: flex;
}

.resume-content {
    display: flex;
    gap: 10px;
}

.section-title-resume {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    color: #181818;


}

.resume-title {
    margin-bottom: 30px;
    ont-weight: 700;
    font-size: 30px;
    color: #474747;

}

.resume-item .sub-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #757575;

}

.resume-item .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-item .title {
    margin-top: 30px;

    color: #474747;

    font-weight: 700;
    font-size: 25px;

}

hr {
    border: 1px solid #D1D1D1;
}

.butt-primary-2 {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    align-items: center;
}

.resume-button {
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
}

.connect {
    display: flex;
    gap: 100px;

    background: #FFF8F3;
    padding-top: 130px;
    padding-left: 230px;

}

section {
    margin-bottom: 200px;
}

.connect-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;

}

.connect input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    padding: 18px 32px;
    width: 70%;
    border: 0;
}

.conect-description {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.connect a{
    text-decoration: none;
    padding: 30px;
}